<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `information-element`
     * Informacion de card
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationElement extends Polymer.Element {
      static get is() { return 'information-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'information-element'
          }
        };
      }
    }

    window.customElements.define(InformationElement.is, InformationElement);
  </script>
</dom-module>
