<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-element">
  <template>
    <style>
      :host {
        display: block;
      }
      .tab{
       display:inline-flex;
       width:100%;
       justify-content:center;
       border:0;
     }
     .content{
       border:0;
       width: 35%;
       display:block;
       justify-content: space-around;
       align-items: center;
     }
     fieldset{
       border:0;
       display: flex;
       justify-content:center;
     }
     .btn-purple{
       display:flex;
       font-size: 14px;
       width:70%;
       justify-content:center;
       height:30px;
       align-items:center;
       background-color:#3c4667;
       color:#FFF;
       border:0;
       border-radius:8px;
     }
     .text-muted{
       color:#918d8d;
     }
     .content h2{
       text-align:center;
       font-size:30px;
     }
     label{
       font-weight: bold;
     }
    </style>
    <section class="tab">
     <article class="content">
       <h2>[[prop1]]!</h2>
       <label>Label</label>
       <p class="text-muted">Lorem ipsum text info data</p>
       <label>Label</label>
       <p class="text-muted">Lorem ipsum text info data</p>
       <label>Label</label>
       <p class="text-muted">Lorem ipsum text info data</p>
       <fieldset>
         <button type="button" class="btn-purple">Button</button>
       </fieldset>
     </article>
   </section>
  </template>

  <script>
    /**
     * `information-element`
     * Informacion de card
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationElement extends Polymer.Element {
      static get is() { return 'information-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Confirmation!!'
          }
        };
      }
    }

    window.customElements.define(InformationElement.is, InformationElement);
  </script>
</dom-module>
